/*advantage*/

@media screen and (max-width: 767px) {
    .advantage-list__item:not(:last-child) {
        margin-bottom: 30px;
    }
}

.advantage-list__icon {
    display: flex;
    margin-bottom: 30px;
    height: 120px;
    width: 450px;
    background-color: $background-color;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
}

.advantage-list__title {
    display: flex;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    justify-content: center;
}

.advantage-list__description {
    line-height: 1.71;
    color: $secondary-color;
}

@media screen and (min-width: 768px) {
    .advantage-list {
        display: flex;
        flex-wrap: wrap;
    }
    .advantage-list__icon {
        width: 354px;
    }
    .advantage-list__item {
        max-width: 354px;
    }
    .advantage-list__item:nth-child(odd) {
        margin-right: 30px;
    }
    .advantage-list__title {
        justify-content: start;
    }
}

@media screen and (min-width: 1200px) {
    .advantage-list {
        display: flex;
        flex-wrap: nowrap;
    }
    .advantage-list__item {
        width: 270px;
        margin-bottom: 0;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    .advantage-list__icon {
        width: 270px;
    }
}