@media screen and (max-width: 767px) {
    .nav__list,
    .header-contact {
        display: none;
    }
    .header {
        padding-top: 16px;
        padding-bottom: 16px;
    }
    .button-menu,
    .button-close {
        background-color: transparent;
        border: none;
        padding: 0;
    }
    .button-close {
        position: absolute;
        top: 21px;
        right: 25px;
    }
    .button-menu__icon {
        width: 24px;
        height: 16px;
        fill: $primary-dark;
        .button-menu:focus & {
            fill: $accent-color;
        }
    }
    .button-close__icon {
        width: 19px;
        height: 19px;
        fill: $primary-dark;
        .button-close:focus & {
            fill: $accent-color;
        }
    }
    .mobile-menu {
        position: absolute;
        max-width: 482px;
        width: 100vh;
        height: 796px;
        padding: 48px 40px;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        background-color: rgba(255, 255, 255, 1);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
        z-index: 1;
    }
    .mobile-menu.is-open {
        transform: translateX(-50%) translateY(0%);
    }
    .menu-container {
        // height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .mobile-menu__nav {
        display: block;
        margin-bottom: 302px;
    }
    .mobile-contact {
        display: block;
    }
    // .mobile-menu__nav {
    //     margin-top: 60px;
    //     margin-bottom: 60px;
    // }
    .mobile-menu__link {
        position: relative;
        display: inline-block;
        font-weight: 500;
        font-size: 40px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $main-color;
        &:hover,
        &:focus {
            outline: transparent;
            color: $accent-color;
        }
    }
    .mobile-menu__link--current {
        color: $accent-color;
    }
    .mobile-menu__item:not(:last-child) {
        margin-bottom: 40px;
    }
    .mobile-contact__icon {
        fill: $secondary-color;
        margin-right: 10px;
    }
    .mobile-contact__phone {
        font-weight: 500;
        font-size: 34px;
        line-height: 1.18;
        letter-spacing: 0.02em;
        color: $accent-color;
    }
    .mobile-contact__mail {
        display: block;
        font-weight: 500;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.02em;
        color: #757575;
        color: $secondary-color;
        margin-bottom: 64px;
    }
    .mobile-contact__item:not(:last-child) {
        margin-bottom: 16px;
    }
    .social-menu__list {
        display: flex;
        justify-content: space-evenly;
    }
    .social-menu__link {
        display: block;
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        letter-spacing: 0.02em;
        color: $accent-color;
    }
}

// .logo {
//     font-family: $secondary-font;
//     font-weight: 700;
//     font-size: 24px;
//     line-height: 1.17;
//     color: $main-color;
//     &__section {
//         color: $accent-color;
//     }
// }