/*header-logo*/

.logo {
    font-family: $secondary-font;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    &__section {
        color: $accent-color;
    }
}

.header__logo {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: $primary-dark;
    margin-right: 93px;
    &:focus {
        outline: 1px solid $accent-color;
    }
}


/*footer-logo*/

.footer__logo {
    display: inline-block;
    margin-bottom: 20px;
    color: $primary-light;
    &:focus {
        outline: 1px solid $accent-color;
    }
}